/* Style for alla contents on this page */
body{
   width: 100%;
   height: 100%;
   background: rgb(78, 78, 78);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 120%;
   color: pink;
   margin: 0;
}

*,
*:before,
*:after{
   box-sizing: border-box;
}

.page{ /* BackStyle for page */
   width: 70%;
   margin: 0% 15% 0% 15%;
   background-color: rgb(77, 77, 77);
   box-shadow: pink 0em 0em 1000em;
   border-radius: 1em;
   padding: 0.1em 0em 1em 0em;
}

.container{ /* Contrainer style for content box */
   width: 100%;
   max-width: 70%;
   margin: 0 auto;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Header */
.header{
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 999;
}

.header__inner{
   display: flex;
   padding: 1% 0;
   align-items: center;
   justify-content: space-between;
   border-bottom: 0.1em solid pink;
}

.header_logo{
   display: flex;
   align-items: center;
   margin-left:3em;
   width: 15%;
}

.header_logo img{
   float: left;
   width: 50%;
}
.header_logo span{
   text-align: center;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Navigation */
.nav{
   display: flex;
   font-size: 1em;
   text-transform: uppercase;
}

.nav__link{
   margin-right: 3em;
   text-decoration: none;
   color: pink;
   opacity: .75;
}

/* .nav__link:last-child{
   margin-right: 0;
} */

.nav__link:hover{
   opacity: 1;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Intro */
.intro{
   display: flex;
   width: 70%;
   margin-top: 6em;
   margin-left: 15%;
   margin-right: 15%;
   height: 25em;
   flex-direction: column;
   justify-content: center;
   background: pink url("../source/img/photo_1.webp") center no-repeat;
   background-size: cover;
   /* filter: blur(5px); */
}

.intro .container{
   color: rgba(255, 255, 255, 0.575);
   font-size: 10em;
   text-align: center;
   text-shadow: 0 0 1em purple;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* After intro content */
.content{
   text-align: justify;
   padding: 1% 15% 0% 15%;
   color: rgba(255, 192, 203, 0.9)
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1, h2, h3, h4, h5, h6 {
   /* color: green; */
   text-align: center;
   margin: 0;
}

h1 span {
   color: pink;
}

.aboutme {
   margin:auto;
   width: 80%;
   text-align: justify;
}

.contents{
   width: 80%;
   margin: auto;
   display: block;
}
.content-block{
   width: 100%;
   height: 20em;
   text-align: justify;
}

#photo_1{
   border: 25px solid rgba(65, 65, 65, 0.233);
   margin: 0px 50px;
   width: 40%;
   float: left;
}

/* #photo_2{
   border: 5px solid rgba(65, 65, 65, 0.938);
   margin: 15px 0px;
   margin-left: 70px;
} */

/* #photo_3{
   border: 40px solid rgba(65, 65, 65, 0.233);
   float: right;
   width: 700px;
   margin: auto;
} */