body{
  background-color: rgb(90, 90, 90);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

._nav{
  text-align: center;
}

.content__dmenu ul{
  padding: inherit;
}

.content__link{
  display: inline;
  list-style-type: none;
  margin-left: 0;
}

.content__link>a{
  color: inherit;
  opacity: .9;
  padding: 0 1em;
  text-decoration: none;
}
.content__link>a:hover{
  border-block-width: .1em;
  border-bottom-style: solid;
  border-bottom-color: yellow;
  font-size: 105%;
  opacity: 1; 
}

._main_page_header{
  color: inherit;
  text-align: center;
}

._main_page_header span{
  color: yellow;
}

._main_page_content{
  text-align: center;
  margin: 0 auto;
  max-width: 50%;
  width: 100%;
}