.tChannels{
   margin-right: -50%;
   left: 50%;
   position: absolute;
   text-align: justify;
   top: 50%;
   transform: translate(-50%, -50%);
}

.tChannels th{
   border: 0.1em solid white;
}

.tChannels td{
   border: 0.1em solid white;
}

.channel{
   width: 15em;
}